.modal_image {
    border-radius: 5px;
    cursor:url("../assets/cursor2.gif"), default;
    transition: 0.3s;
}

.modal_image:hover {
    opacity: 0.7;
}

/* the modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

/* modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 1200px;
    max-height: 900px;
    padding-top: 3%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* animation */
.modal-content,
#caption {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.4s;
animation-name: zoom;
animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}